
*.mat

cvx/

*.avi

*.m~

demos.xml

oasis/test_trace.txt

oasis/simAR.m

users.html

demos/data_endoscope_neurons/

.DS_Store

deconvolveCa/examples/Paper/fig/*

CNMF-E_users.xls

demos/demos_backup/*
