*.mat
cvx/
*.avi
*.m~
demos.xml
oasis/simAR.m
users.html
.DS_Store
.*
deconvolveCa/examples/Paper/fig/*
CNMF-E_users.xls
demos/demos_backup/*
NoRMCorre/
demos/*_source_extraction/*
demos/data_endoscope_neurons*
deconvolveCa/example*
deconvolveCa/constrained-foopsi*
deconvolveCa/MCMC*

demos/temp
